.container, .container_closed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -1px 6px 5px 0px rgba(0, 0, 0, 0.35);
          box-shadow: -1px 6px 5px 0px rgba(0, 0, 0, 0.35);
  border-radius: 16px;
}

.container h2, .container_closed h2 {
  font-size: 1rem;
}

.container .head, .container_closed .head {
  padding: 0 12px;
  background: #000;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .head_content, .container_closed .head_content {
  color: #fff;
  font-size: 1rem;
}

.container .head_button, .container_closed .head_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
}

.container_closed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 280px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: #000;
}

.container_closed .head_closed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_closed .head_closed .head_content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container_closed .head_closed .head_button {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
