.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: -1px 6px 5px 0px rgba(0, 0, 0, 0.35);
    border-radius: 16px;

    & h2 {
        font-size: 1rem;
    }

    & .head {
        padding: 0 12px;
        background: #000;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        display: flex;
        min-height: 60px;
        justify-content: space-between;
        flex: 1;
        align-items: center;

        &_content {
            color: #fff;
            font-size: 1rem;
        }

        &_button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
        }
    }

    & .body {}

}

.container_closed {
    @extend .container;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    flex-wrap: nowrap;
    background: #000;

    & .head_closed {
        display: flex;
        min-height: 60px;
        align-items: center;

        & .head_content {
            flex: 1;

        }

        & .head_button {
            justify-content: flex-end;
        }
    }

}