.container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.35);
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.35);
    flex: 1;
    overflow: hidden;
    & .head {
        padding: 0 12px;
        background: #000;
        border-bottom: 1px solid lightgray;
        display: flex;
        min-height: 60px;
        justify-content: space-between;
        flex: 1;
        align-items: center;
        &_content {
            color: #fff;
        }
        &_button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
        }
    
    }
    & .body {
        padding: 16px 8px;
    }
}

.container_closed {
    @extend .container;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: min-content;
    max-width: 280px;
    flex-wrap: nowrap;
    background: #000;
    & .head_closed {
        display: flex;
        min-height: 60px;
        align-items: center;
        & .head_content {
            flex: 1;
        }
        & .head_button {
            justify-content: flex-end;
        }
    }

}