.container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.35);
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.35);
    flex: 1;
    overflow: hidden;
    
    & .head {
        border-bottom: 1px solid lightgray;
        display: flex;
        min-height: 60px;
        justify-content: space-between;
        flex: 1;
        background: #000;
        align-items: center;
        &_content {
            color: #fff;
        }
        &_button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
        }
    
    }
    & .body {
        padding: 8px;
        padding-top: 8px;
       
    }
}