.mainContainer {
    display: flex;
    flex-direction: row;
    padding: 12px 48px;
    gap: 48px;
    align-items: flex-start;
}

.removeButton {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.raidList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}