.container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    & .plus_container {
        display: flex;
        justify-content: center;
        gap: 16px;
        padding: 16px;
    }
}