.button {
    position: absolute;
    border: 1px solid;
    border-radius: 100%;
    bottom: 50px;
    right: 50px;
}

.header {
    display: flex;
    padding: 8px 8px 8px 0;
}
.counter {
    color: #000;
    font-weight: 700;
}
// .backtimer {
//     bo
// }

.modal_container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(224, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.modal {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 12px;
    width: 400px;
    height: 200px;
    background-color: #fff;
    gap: 12px;
}
.activeContainer {
    display: flex;
    flex: 1;
    gap: 16px;
    background: linear-gradient(180deg, #353A40 0%, #16171B 100%),
    linear-gradient(180deg, #424750 0.93%, #202326 100%);    
    align-items: center;
    & .image {
        height: 140px;
        width: 125px;
    }
    
    & .valueInfoContainer {
        display: flex;
        text-align: left;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
        & input[type="time"]{
            padding: 4px 8px;
            &::-webkit-calendar-picker-indicator {
                filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
            }
        }
        & .buttons {
            display: flex;
            gap: 12px;
            margin: 8px 0 ;
            & button {
                flex: 1;
                padding: 4px 8px;
                border: none;
                font-weight: bold;
                & a {
                    text-decoration: none;
                    color: #000;
                }
                &:hover{
                    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
                    cursor: pointer;
                }
                
            }
        }
    }
}
.addButton {
    display: flex;
    padding: 20px;
    border-radius: 100%;
    transition: all 0.2s ease;
    &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    }
}