.activeContainer {
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    flex: 1;
    height: 170px;
    gap: 16px;
    box-shadow: -6px 9px 5px 0px rgba(0 , 0 ,0 , 0.35);
    background: linear-gradient(180deg, #353A40 0%, #16171B 100%),
    linear-gradient(180deg, #424750 0.93%, #202326 100%);    
    align-items: center;
    & .imageContainer {
        width: 180px;
        height: inherit;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    & .valueInfoContainer {
        display: flex;
        text-align: left;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
        padding-right: 16px;
        .header {
            display: flex;
            padding-bottom: 16px;
            padding-top: 4px;
        }
        & input[type="time"]{
            padding: 4px 8px;
            width: inherit;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 8px;
            &::-webkit-calendar-picker-indicator {
                filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
            }
        }

        & .buttons {
            display: flex;
            gap: 12px;
            margin-bottom: 8px;
            justify-content: center;
            & button {
                flex: 1;
                padding: 4px 8px;
                border: none;
                font-weight: bold;
                & a {
                    text-decoration: none;
                    color: #000;
                }
                &:hover{
                    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
                    cursor: pointer;
                }
            }
        }
    }
}


.counter {
    color: #000;
    font-weight: 700;
}


.modal_container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(224, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.modal {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 12px;
    width: 400px;
    height: 200px;
    background-color: #fff;
    gap: 12px;
}

.addButton {
    display: flex;
    padding: 20px;
    border-radius: 100%;
    transition: all 0.2s ease;
    &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    }
}

.backtimer {
   width: 140px;
   background-color: #000;
   height: inherit;
   display: flex;
   justify-content: center;
   align-items: center;
}