.mapContainer {
  position: relative;
  background-color: #fff;
  background-image: url("../../../assets/images/bg/dinoIsleBG.png");
  background-size: cover;
  overflow: hidden;
}

.mapContainer .tyros {
  cursor: -webkit-grab;
  cursor: grab;
  position: absolute;
  border-radius: 100%;
}

.mapContainer .tyros img {
  height: inherit;
  width: inherit;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}

.mapContainer .tyros .label {
  position: absolute;
  color: #058dd9;
  font-size: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  top: 0;
  bottom: 0;
  background-color: #000;
  padding: 0 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
