.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.container .header .header_line, .container .header .header_line .enchant_button {
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.container .header .header_line_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: 36px;
  width: 36px;
  border-radius: 4px;
}

.container .header .header_line_select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .header .header_line_input {
  font-size: 24px;
  font-weight: 600;
  padding: 4px 12px;
  border-radius: 8px;
  width: 30px;
  text-align: center;
}

.container .header .header_line .enchant_button {
  border: 1px solid #fff;
}

.container .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}
